.js-loading *,
.js-loading *::before,
.js-loading *::after {
  animation-play-state: paused !important;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:focus {
  outline: none;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -3;
}

#root::before {
  opacity: 0;
  transform: translateY(-4rem);
  animation: no-transform 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(./img/background4.jpg) no-repeat top;
  background-size: cover;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(100vw * -1.5 + 100vh);
  left: 0;
  z-index: -2;
}

#quote-box {
  width: 50%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: calc(50vh - 11rem);
  z-index: -1;
}

.spinner {
  opacity: 0;
  animation: opacity-7 0.6s 0.6s ease-out forwards;
  margin: auto;
  width: 6rem;
}

.quote-cont {
  opacity: 0;
  animation: no-transform 0.6s 0.6s ease-out forwards;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

#text {
  font-size: 1.5rem;
  display: flex;
  margin: 0;
}

.symbol {
  font-size: 4rem;
  margin-right: 1rem;
}

#author {
  align-self: flex-end;
}

.button-cont {
  opacity: 0;
  transform: translateY(-4rem) scale(0.8);
  animation: no-transform 0.6s 0.8s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  position: fixed;
  bottom: 20vh;
  width: 40vw;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.button {
  background: none;
  border-style: none;
  height: 2rem;
  padding: 5px 1rem;
  color: #ffffff;
  border-radius: 0.25rem;
  font-weight: 700;
  font-size: 0.7rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.button::before {
  background: rgba(150, 150, 150, 0.8);
  border-radius: 0.25rem;
  content: '';
  position: absolute;
  top: 0.5rem;
  right: 0.1rem;
  bottom: -0.1rem;
  left: 0.1rem;
  z-index: -1;
}

.button::after {
  background: #1a9e3f;
  border-radius: 0.25rem;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.button:hover::before {
  transform: translateY(0.1rem);
}

button:hover::after {
  background: #28b54f;
}

.button:active {
  transform: translateY(0.2rem);
  transition: none;
}

.button:active::before {
  transform: translateY(-0.1rem);
  transition: none;
}

.button,
.button::before,
.button::after {
  transition: all 0.5s cubic-bezier(0, 1, 0.3, 1);
}

.button:focus {
  outline: none;
}

.tweet-icon {
  background: url(./img/tweet.png) no-repeat center;
  background-size: cover;
  width: 1.2rem;
  height: 1rem;
}

.heart {
  animation: pulse 2s 3s ease-out infinite;
  position: fixed;
  bottom: 8vh;
}

.heart span {
  display: block;
  animation: no-transform 0.6s 1.4s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  transform: translateY(8vh);
  opacity: 0;
  z-index: 15;
}

#footer {
  animation: no-transform 0.6s 2s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
  color: #cccccc;
  position: absolute;
  bottom: calc(100vw * -1.5 + 108vh);
}

#footer span {
  margin-left: 2.5rem;
}

#footer a {
  position: relative;
  transition: color 0.4s ease-out;
}

#footer a::after {
  border-radius: 1rem;
  border-top: 0.1rem solid #cccccc;
  content: '';
  position: absolute;
  right: 100%;
  bottom: 0.06rem;
  left: 0;
  transition: right 0.4s cubic-bezier(0, 0.5, 0, 1), border-color 0.4s ease-out;
}

#footer a:hover {
  color: #ffffff;
}

#footer a:hover::after {
  right: 0;
  border-color: #ffffff;
}

/* Media Queries */
@media (max-width: 570px) {
  html {
    font-size: 12px;
  }

  #root::before {
    position: absolute;
    bottom: 0;
  }

  #quote-box {
    position: relative;
    top: 8vh;
    min-height: 60%;
  }

  .quote-cont {
    flex-grow: 0;
  }

  .symbol {
    display: none;
  }

  .button-cont {
    position: initial;
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin-top: 1rem;
  }

  .heart {
    position: absolute;
    bottom: 8vh;
  }

  #footer {
    bottom: 8vh;
  }
}

@media (min-width: 720px) {
  html {
    font-size: 16px;
  }

  #quote-box {
    top: calc(50vh - 11rem);
  }
}

@media (min-width: 960px) {
  html {
    font-size: 18px;
  }

  #quote-box {
    top: calc(50vh - 10rem);
  }
}

@media (min-width: 1080px) {
  html {
    font-size: 20px;
  }

  #quote-box {
    top: calc(50vh - 9rem);
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 22px;
  }

  #quote-box {
    top: calc(50vh - 8rem);
  }
}

@media (max-aspect-ratio: 2/3) {
  #root::before {
    bottom: 0;
  }

  .heart {
    bottom: 8vh;
  }

  #footer {
    bottom: 8vh;
  }
}

@media (max-aspect-ratio: 2/3) and (max-width: 430px) {
  html {
    font-size: 12px;
  }

  #quote-box {
    top: calc(50vh - 18rem);
  }
}

@media (max-aspect-ratio: 2/3) and (max-height: 700px) {
  html {
    font-size: 12px;
  }

  #quote-box {
    top: calc(50vh - 18rem);
  }
}

@media (max-height: 470px) {
  html {
    font-size: 14px;
  }

  #quote-box {
    top: 8vh;
  }
}

/* Animations */
@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes opacity-7 {
  100% {
    opacity: 0.7;
    transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
